<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailed Recipe</title>
</head>
<body>
    <h2>
        <%=DishName%>
    </h2>
    <ul>
        <li>Prepared on following Occasions</li>
    </ul>
    <script src="script_3.js"></script>
</body>
</html>