<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cook-Book</title>
    <link rel="stylesheet" href="_1.css">
</head>
<body>
    <div class="container">
        <img src="Recipe.png">
        <p class="text">Welcome to Cook-Book</p>
        <p class="textt">Select the Dish</p>
        <form action="/instruction" method="post">
        <select name='dishtype'>
         <option selected>Dish-Types</option>
        </select>
        <input type="submit">
    </form><br><br>
    <!-- <button>
    <a href="/favourites">Go to Favourites</a>
    </button> -->
    </div>
    <button>
        <a href="/favourites">Go to Favourites</a>
    </button>
    <script src="script_1.js"></script>
</body>
</html>